.process-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
  }
  
  .process-heading {
    font-size: 34px;
    font-weight: bold;
    color: #00295f;

  }
  .process-header{
    margin-bottom: 30px;
  }
  .process-header p{
    font-size: 22px;
    color: #d45e33;
    font-weight: bold;
  }
  /* Process Container */
  .process-container {
    /* display: flex;
    justify-content: center;
    width: 100%;
    background-color: red; */
  }
  
  /* Columns */
  .process-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
  }
  
  /* Step Card */
  .process-card {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;  /* Take full width */
    max-width: 300px; /* Restrict max width */
    height: 150px;
    padding: 20px;
    border-radius: 12px;
    color: #00295F;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .process-card:hover {
    transform: translateY(-5px);
    background-color: #00FF95;
    cursor: pointer;
  }
  
  /* Mobile Fix */
  @media (max-width: 1024px) {
    .process-card {
      max-width: 100%; /* Allow it to take full width */
    }
  
    .flex {
      flex-direction: column; /* Stack on top of each other */
      align-items: center; /* Center align */
    }
  }
  
  /* Step Number */
  .step-number {
    width: 50px;
    height: 50px;
    background-color: #00295f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  /* Step Content */
  .step-content {
    text-align: left;
  }
  
  .step-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #00295f;
    font-weight: bold;
  }
  
  .step-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .process-container {
      flex-direction: column;
    }
    .process-section {
        text-align: center;
        padding: 40px 20px;
        
      }
      
      .process-heading {
        font-size: 26px;
    
      }
     
      .process-header p{
        font-size: 16px;
        color: #d45e33;
        font-weight: bold;
      }
  }
  