.request-form-section {
    background-color: #00295f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .form-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
  }
  
  /* Left Side */
  .form-left {
    flex: 1;
    background: #00295f;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  
  .form-heading {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-description {
    font-size: 22px;
  }
  
  /* Right Side */
  .form-right {
    flex: 1;
    padding: 40px;
  }
  
  .request-form {
    display: flex;
    flex-direction: column;
  }
  
  .request-form-section .form-group {
    margin-bottom: 15px;
  }
  
  .request-form-section .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .request-form-section input,
  .request-form-section select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Checkbox Styling */
  .checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .checkbox-group input {
    width: 18px;
    height: 18px;
  }
  
  .checkbox-group label {
    font-size: 14px;
  }
  
  .checkbox-group a {
    color: #d45e33;
    text-decoration: none;
    font-weight: bold;
  }
  
  .checkbox-group a:hover {
    text-decoration: underline;
  }
  
  /* Submit Button */
  .submit-button {
    background: #d45e33;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    background: #bb4e29;
  }
  .footer-bottom{
    color: #527aab;
    width: 100%;
    text-align: center;
  }
  /* Responsive Design */
  
  @media (max-width: 768px) {
    .form-container {
      flex-direction: column;
    }
  
    .form-left {
      padding: 0px;
    }
    .request-form-section{
        padding: 0px;
        justify-content: start;
        align-items: start;
    }
    .form-container{
        padding: 0px;
        width: 100%;
    }
    .form-heading {
        font-size: 28px;
        
      }
      
      .form-description {
        font-size: 16px;
      }
      .form-left{
        gap: 20px;
        padding: 20px;
      }
      .form-right {
        padding: 20px;
      }
  }
  